<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id = "notepadplusplus" />
      <package id = "PSWindowsUpdate" />
      <package id = "jre8" />
      <package id = "7zip" />
      <package id = "microsoft-office-deployment" />
      <package id = "discord" />
      <package id = "vscode" />
      <package id = "vscode-ansible" />
      <package id = "vscode-docker" />
      <package id = "vscode-gitlens" />
      <package id = "vscode-markdown-all-in-one" />
      <package id = "vscode-python" />
      <package id = "vscode-remote-ssh" />
      <package id = "vscode-yaml" />
      <package id = "nextcloud-client" />
      <package id = "greenshot" />
      <package id = "putty" />
      <package id = "autoruns" />
      <package id = "vlc" />
      <package id = "winscp" />
      <package id = "wiztree" />
      <package id = "wireguard" />
      <package id = "rdmfree" />
      <package id = "vcredist-all" />
      <package id = "directx" />
      <package id = "PowerShell" />
      <package id = "dotnet" />
      <package id = "AdobeReader" />
      <package id = "Autohotkey" />
      <package id = "nano" />
      <package id = "openssh"
               packageParameters="/SSHServerFeature"
               />
      <package id = "everything"
               packageParameters="/start-menu-shortcuts /run-on-system-startup /folder-context-menu"
               />
      <package id = "ssh-copy-id" />
      <package id = "sysinternals" />
      <package id = "bitwarden" />
      <package id = "f.lux" />
      <package id = "ventoy" />
      <package id = "keypirinha" />
      <package id = "pia" />
    </packages>